body {margin:0;padding:0;}
#content {
    margin: 0 auto;
} 
#horizontal-scroll {
	width: 100%; 
	height: 100%; 
	background-image: url(backdrop.png);
	background-position: 0px 0px;
	background-repeat: repeat-x repeat-y;
	animation: animatedBackground 10s linear infinite;
}
@keyframes animatedBackground {
	from { background-position: 0% 0; }
	to { background-position: 100% 0; }
}
pre{
	display:block;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size:22px;
	padding:5px;
	border:1px solid #bae2f0;
	background:#e3f4f9;	
	margin:.5em 0;
	width:200px;
	}		
.clear{
	clear:both;
	}	
img{border:none;}

#easyNotification{
	padding:5px 10px;
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                        transparent 75%, transparent);     
	border:1px solid #d4d287;
    background-color: #eaaf51;
    border-color: #d99a36;
	color:#333;
	position:relative;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
     animation: animate-bg 5s linear infinite;
	}
#easyNotification span{
	float:right;
	cursor:pointer;
	}	


.message{
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                        transparent 75%, transparent);                                      
     box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     max-width: 500px;
     border: 1px solid;
     color: #fff;
     padding: 15px;
     position: fixed;
     _position: absolute;
     text-shadow: 0 1px 0 rgba(0,0,0,.5);
     animation: animate-bg 5s linear infinite;
}

.info{
     background-color: #4ea5cd;
     border-color: #3b8eb5;
}

.error{
     background-color: #de4343;
     border-color: #c43d3d;
}
     
.warning{
     background-color: #eaaf51;
     border-color: #d99a36;
}

.success{
     background-color: #61b832;
     border-color: #55a12c;
}

.message h3{
     margin: 0 0 5px 0;                                                  
}

.message p{
     margin: 0;                                                  
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

IMG.signup {
    display: inline-block;
    width: 488px;
    margin-left: 5%;
    margin-right: auto;
}

IMG.login {
    display: inline-block;
    width: 529px;
    margin-right: 5%;
    margin-left: auto;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
c {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
p {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}
blockquote {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}