body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    backface-visibility: hidden;
}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
} 

#overlay {
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0.08;
}

#scene {
    padding: 0;
    margin: 0;
    width: 115%;
    height: 120vh;
    overflow: hidden;
    top: -5%;
    left: -5%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;    
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 550px;
    z-index: 101;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
}

.wrapper img {
  width: 350px;
  height: auto;
}

.layer {
    width: 110%;
    height: 120vh;
    overflow: hidden;
}

.layer2 {
    background-image: url(http://puu.sh/orQMo/b6f1308f9b.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -5%;
    top: -5%;
}

.layer1 {
    background-image: url(http://puu.sh/orQMo/b6f1308f9b.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -5%;
    top: -5%;
}

@media (max-width:1200px) and (min-width:700px) {
     .wrapper img {
        width: 220px;
        height: auto;
    } 
}

@media (max-width:700px) {
    .layer2 {
        background-size: cover;
        background-position: center;
        width: 167%;
        height: 77vh;
        left: -69%;
        top: 27%;
    }
    
    .layer1 {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 115%;
        left: -5%;
        top: -1%;
    }    
    
    .wrapper img {
        width: 180px;
        height: auto;
    }
}

