/* Elements */
body{width:auto;background-color:white;color:black;}
#actions #lastmod{font-size:smaller;}
#actions ul{list-style-type:none;padding:5px 0 5px 0;line-height:1.25em;}
#actions ul li{display:inline;padding:2px 5px;background-color:lightgray;}
#actions ul li:hover{background-color:#EAEAEA;}
#actions ul li:active{background-color:#EAEAEA;}

/* Links */
a:link{color:#0000ff;text-decoration:none;}
a:visited{color:purple;text-decoration:none;}
a:hover{color:#0000ff;text-decoration:underline;}
a.urllink{background:url(http://assets.sick.bike/external.png) center right no-repeat;padding-right:13px;color:#2f6fab;}
a.urllink:visited {color:#006699;}
a.attachlink{color:#2f6fab;}
a.attachlink:visited{color:#006699;}

/* Blocks */
.editconflict{color:red;font-style:italic;margin-top:1.33em;margin-bottom:1.33em;}
div.faq p,div.faq pre{margin-left:2em;}
div.faq p.question{margin:1em 0 0.75em 0;font-weight:bold;}
div.faqtoc div.faq *{display:none;}
div.faqtoc div.faq p.question{display:block;font-weight:normal;margin:0.5em 0 0.5em 20px;line-height:normal;}
div.faqtoc div.faq p.question *{display:inline;}
.frame{border:1px solid #cccccc;padding:4px;background-color:#f9f9f9;}
.lfloat{float:left;margin-right:0.5em;}
.rfloat{float:right;margin-left:0.5em;}
#wikihead .nb{float:left;margin:-20px 0 20px 0;width:auto}
li.done{list-style-type:circle;color:lightgray;text-decoration:line-through}

/* Tables */
table.markup{border:2px dotted #ccf;width:90%;}
td.markup1,td.markup2{padding-left:10px;padding-right:10px;}
table.vert td.markup1{border-bottom:1px solid#ccf;}
table.horiz td.markup1{width:23em;border-right:1px solid#ccf;}
table.markup caption{text-align:left;}
